
.select-menu {
    width: 150px;
    cursor: pointer;
    position: relative;
    margin-right:20px ;
    margin-top:10px ;
  }
  
  .select {
    background-color: #03A9F4;
    padding: 10px;
    color: #000;
    font-weight: 500;
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* position: fixed; */
   
  }
  
  .options-list {
    position: absolute;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 3px;
    margin-top: 14px;
    padding: 0 20px;
    max-height: 100px;
    overflow-y: auto;
    -webkit-transition: .4s linear .2s;
    -o-transition: .4s linear .2s;
    transition: .4s linear .2s;
    height: 0;
    /* display: no; */
    opacity: 0;
    border: 2px solid red;
  }
  
  .option {
    padding: 8px 0;
    font-weight: 500;
    font-size: 14px;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  
  .option:hover,
  .option.selected {
    color: #00a8ff;
  }
  
  .options-list::-webkit-scrollbar {
    width: 4px;
    background-color: #eee;
  }
  
  .options-list::-webkit-scrollbar-thumb {
    background-color: #00a8ff;
  }
  
  .options-list.active {
    height: 180px;
    opacity: 1;
  }
  .more {display: none;}
.myBtn{
  margin-left: 15px;
}

  /* .redMore{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  } */